<table id='runners'>

  <% @runners.each do |runner| %>
    <tr class='runner'>
      <td class='number'><%= runner.number %></td>
      <td class='name'><%= runner.name %></td>
      <td class='time'><%= runner.time %></td>
      <td class='edit'><%= link_to 'Edit', edit_runner_path(runner) %></td>
      <td class='delete'><%= link_to 'Delete', runner, :method => :delete %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'New Runner', new_runner_path %>
