= form_for :runner, :url => {:action => 'update_collection'} do
  - @runners.each do |runner|
    %p= runner.name
    = fields_for "runner[]", runner do |f|
      = f.text_field :time
  = submit_tag "Submit"
