<p id="notice"><%= notice %></p>

<img src='images/scna5k.png'>

<table id='runners'>

  <tr>
    <th>#</th>
    <th class='name'>Runner Name</th>
    <th>Time</th>
  </tr>

  <% @runners.each do |runner| %>
    <tr class='runner'>
      <td class='number'><%= runner.number %></td>
      <td class='name'><%= runner.name %></td>
      <td class='time'><%= runner.time %></td>
      <!--
      <td><%= link_to 'Show', runner %></td>
      <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
      <td><%= link_to 'Destroy', runner, :confirm => 'Are you sure?', :method => :delete %></td>
      -->
    </tr>
  <% end %>

</table>

<%= render 'admin/form' %>
