<h1>Listing runners</h1>

<div id='runners'>

  <% @runners.each do |runner| %>
    <div id='runner-<%= runner.number %>'>
      <span class='name'><%= runner.name %></span>
      <span class='number'><%= runner.number %></span>
      <span class='time'><%= runner.time %></span>
      <!--
      <td><%= link_to 'Show', runner %></td>
      <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
      <td><%= link_to 'Destroy', runner, :confirm => 'Are you sure?', :method => :delete %></td>
      -->
    </div>
  <% end %>

</div>
