= form_for :runner, :url => {:action => "input_times_submit"} do |f|
  %p.runner-number
    = f.label :number, "Runner Number:"
  = f.text_field :number
  = f.label :minutes, "Minutes:"
  = f.text_field :minutes
  = f.label :seconds, "Seconds:"
  = f.text_field :seconds
  = f.submit "Save Time", :class => "submit"

#flash-notices
  %span.flash_success= flash[:success]
  %span.flash_failure= flash[:failure]
