!!!
%html
  %head
    %meta{'charset' => 'UTF-8'}
    = csrf_meta_tag
    %title
      SCNA5K
    = stylesheet_link_tag :reset
    = stylesheet_link_tag :application
  %body
    %span.flash_success= flash[:success]
    %span.flash_failure= flash[:failure]
    #container
      = link_to image_tag("scna-5k-small.png", :class => "stopwatch"), :root
      %h1.scna Software Craftsmanship North America 
      %h1.five-k 5k
      = yield
